h6.card-header.bg-light.text-center(data-toggle="collapse", data-target="#collapsePayment", aria-expanded="true", aria-controls="collapsePaymemt") Payment
#collapsePayment.collapse(aria-labelledby="collapsePayment", data-parent="#accordion")
    .card-body Content to be added.