h6.card-header.bg-light.text-center(data-toggle='collapse', data-target='#collapseProduct', aria-expanded='true', aria-controls='collapseProduct') Product
#collapseProduct.collapse.show(aria-labelledby='collapseProduct', data-parent='#accordion')
    .card-body
        .row
            .col-lg-5
                label(for='productName') Product Name
                input#productName.form-control.flexdatalist(type='text', data-min-length='1', name='country_name_capital_continent')
            .col-lg-2
                label(for='quantity') Quantity
                input#quantity.form-control(type='number', name='quantity', required='')
            .col-lg-5
                label(for='price') Unit Price
                .input-group
                    input#price.form-control(type='number', name='price', required='')
                    .input-group-append
                        span.input-group-text(style='border-radius: 0 5px 5px 0;') MMK
                    span
                        button#productAdd.btn.btn-outline-dark.ml-2(type='button') ADD
        hr
        button.btn.btn-outline-dark.float-right.mb-3(data-toggle='collapse', data-target='#collapseCustomer', aria-expanded='true', aria-controls='collapseCustomer', type='button') Continue 
